#contact1{
    margin-left: 0;
    width: 100%;
}

#nom{
    margin-left: 0%;
}

#contact2{
    margin-left: 0;
    width: 100%;
}

#contact3{
    margin-left:0;
    width: 100%;
}

#contact4{
    margin-left: 0;
    width: 100%;
}

#contact5{
    margin-left: 17%;
}

#message{
    width: 100%;
}

#contact7{
    margin-left: 83%;
}


label.obligatoire:after{
    content: "*";
    color: red;
}

body{
    background-color: black;
}
#msg{
    width: 100%;
}