@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");

body.night {
  font-family: 'Lato', Arial, sans-serif;
  color: graytext;
  font-size: 17px;
  line-height: 1.6;
}


.main-content .night {
  background: #024361;
}





/* ===================================== */
/* ===== THE INTERESTING STUFF NOW ===== */
/* ===================================== */


.navbar-brand.night {
  font-size: 2.25rem;
  font-weight: 900;
  color: white;
  
}


.navbar--size--xl {
  padding: 4rem 0;
}
.navbar--size--lg {
  padding: 2rem 0;
}
.navbar--size--md {
  padding: 1rem 0;
  opacity : 1;
}
.navbar--size--sm {
  padding: 0;
}
.navbar--color--white.night {
  background: red;
}
.navbar--color--primary.night {
  background: #37ca7e;
}
.navbar--color--secondary.night {
  background: #2b3a4f;
}
.navbar--color--ghost.night {
  background: rgba(0,0,0,0.2);
}

#title.night {
    background:#15202B;
    color:white;
}

idk.night{
    border-top:#2b3a4f solid 0.2em;
}

.overlay.night{
    background:#15202B;
    color:white;
}

.subtitle.night{
    background:#15202B;
    color:white;
}

.table.night{
    color:white;
}

.footer.night{
    background:#2b3a4f;
    color:white;
}

.navbar-links.night{
    color:white;
}

.button.night {
  background:#2b3a4f;
}