.rating {
   direction: rtl;
   text-align: center;
   margin-bottom: 3%
}
.rating a {
   color: #aaa;
   text-decoration: none;
   font-size: 3em;
   transition: color .4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
   color: orange;
   cursor: pointer;
}
/******************************************************************/

body{
    margin-top: 4vh;
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    content: '§§§§§';
    padding: 0 4px;
    position: relative;
    top: -13px;
}

#com1{
   margin-left: 15%;  
}

#com2{
   margin-left: 25%;  
}

#com3{
    margin-left: 40%;
    width: 20%;
}

#msg{
    width: 100%;    
}

label.obligatoire:after{
    content: "*";
    color: red;
}

#com5{
    margin-left: 84%;
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top:1%;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: groove 2px;
  border-radius: 5px;
}