.rating {
  direction: rtl;
  text-align: center;
  margin-bottom: 3%;
}
.rating a {
  color: #aaa;
  text-decoration: none;
  font-size: 3em;
  transition: color 0.4s;
}
.rating a:hover,
.rating a:focus,
.rating a:hover ~ a,
.rating a:focus ~ a {
  color: orange;
  cursor: pointer;
}
/******************************************************************/

body {
  background-color: lightgrey;
  background-image: url(../image/Login.jpg);
}

hr {
  border: none;
  border-top: 3px double #333;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.on_hr{
  margin-top: -2.3rem;
 /* width: 10%;*/
 /* background-color: white;*/
  text-align: center;
 /* margin-left: 45%;*/
}

.TitleHR.night{
  background:#2b3a4f;
  padding: 0px 5px 0px 5px;
  transition: 0.5s;
}

.TitleHR{
  background: #999999;
  padding: 0px 5px 0px 5px;
  transition: 0.5s;
}

/*hr:after {
  background: #fff;
  content: "§§§§§";
  padding: 0 4px;
  position: relative;
  top: -13px;
}*/

hr.night {
  border: none;
  border-top: 3px double rgb(255, 255, 255);
  overflow: visible;
  text-align: center;
  height: 5px;
  background-color: #2b3a4f;
}

#com1 {
  margin-left: 15%;
}

#com2 {
  margin-left: 25%;
}

#com3 {
  margin-left: 40%;
  width: 20%;
}

#msg {
  width: 100%;
}

label.obligatoire:after {
  content: "*";
  color: red;
}

#com5 {
  margin-left: 84%;
}

fieldset {
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 1%;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: groove 2px;
  border-radius: 5px;
}

.overlay.night {
  background-image: url(../image/LoginNight.jpg);
}


.formulaire {
  background: #999999;
  color: black;
  transition: 0.5s;
  margin-top:20%;
  transition: 0.5s;
}

.formulaire.night{
  background: #2b3a4f;
  color: white;
  transition: 0.5s;
}

.NP{
  margin-top:1em;
}

@media screen and (max-width: 768px) {
  #com2 {
    margin-left: 10%;
  }

  #com5 {
    margin: 10%;
  }
  #com3 {
    width: 60%;
    margin: 20%;
  }
}