#contact1 {
  margin-left: 0;
  width: 100%;
}

#nom {
  margin-left: 0%;
}

#contact2 {
  margin-left: 0;
  width: 100%;
}

#contact3 {
  margin-left: 0;
  width: 100%;
}

#contact4 {
  margin-left: 0;
  width: 100%;
}

#contact5 {
  margin-left: 17%;
}

#contact6 {
  width: 100%;
  margin-left: 10%;
}

#contact7 {
  margin-left: 83%;
  float: right;
}

label.obligatoire:after {
  content: "*";
  color: red;
}

body {
  background-color: lightgrey;
  background-image: url(../image/Login.jpg);
}

.overlay.night {
  background-image: url(../image/LoginNight.jpg);
}

#msg {
  width: 80%;
  margin-left: 10%;
}
.card-header.night {
  background: #2b3a4f;
  color: white;
  transition: 0.5s;
}
.c1.night {
  background: #2b3a4f;
  color: white;
  transition: 0.5s;
}

.card-header {
  background: #999999;
  color: black;
  transition: 0.5s;
}
.c1 {
  background: #999999;
  color: black;
  transition: 0.5s;
}

.choice {
  margin-left: 5%;
}

.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

