@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900");
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

/* ////////////////////////////////////////////////////////////////////// NAVBAR ////////////////////////////////////////////////////////// */




body {
  font-family: 'Lato', Arial, sans-serif;
  color: #6b6b6b;
  font-size: 17px;
  line-height: 1.6;
}

.overlay {
  position: absolute;
  z-index: -1;

}
.main-content {
  background: white;
}


h2,
h3 {
  padding: 2rem 0 0.75rem;
  font-weight: 700;
}

.container-nav {
    padding-left:3rem;
}


/* ===================================== */
/* ===== THE INTERESTING STUFF NOW ===== */
/* ===================================== */

.navbar {
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity : 100%;
  position : fixed;
  width: 100%
/* --- navbar sizes --- */
/* --- navbar colors --- */
}
.navbar-brand {
  font-size: 2.25rem;
  font-weight: 900;
  color: #4b4b4b;
  
}

.navbar-links {
    font-size: 1rem;
    font-weight: 900;
    color: #4b4b4b;
    padding-left: 0.1rem;
    padding-right: 0.1rem;
}
.navbar--size--xl {
  padding: 4rem 0;
}
.navbar--size--lg {
  padding: 2rem 0;
}
.navbar--size--md {
  padding: 1rem 0;
  opacity : 1;
}
.navbar--size--sm {
  padding: 0;
}
.navbar--color--white {
  background: #fff;
}
.navbar--color--primary {
  background: #37ca7e;
}
.navbar--color--secondary {
  background: #43a6dd;
}
.navbar--color--ghost {
  background: rgba(0,0,0,0.2);
}
.navbar--color--ghost .navbar-brand,
.navbar--color--ghost .navbar-text,
.navbar--color--ghost a {
  color: #fff;
}

#moon {
    width:5rem;
    height: auto;
    float:right;
    padding-right:2rem;
}

.container-nav{
    width:100%
}

.buton {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.buton:focus {
    border: none;
    outline:none;
}

.page:hover {
    text-decoration:none;
}

@media screen and (max-width:400px){
    #moon {
        width:4.4em;
    }
    .container-nav {
    padding-left:10%;
    }
}

 /* ////////////////////////////////////////////////////////////////////// FOOTER ////////////////////////////////////////////////////////// */




.footer {
  background: #152F4F;
  color: white;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li a {
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #4180CB;
}
.footer .about-company i {
  font-size: 25px;
}
.footer .about-company a {
  color: white;
  -webkit-transition: color .2s;
  transition: color .2s;
}
.footer .about-company a:hover {
  color: #4180CB;
}
.footer .location i {
  font-size: 18px;
}
.footer .copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footerTitle2{
    color:white;
}

.subtitle{
    font-family: 'Vollkorn', serif;
}


hr.night{
    border-top:#2b3a4f solid 0.2em;
}
#title{
    font-family: 'Playfair Display', serif;
}
