h2 {
  text-align: center;
}
.w-100 {
  height: 20em;
}

hr {
  border-top: black solid 0.2em;
  width: 80%;
}

img.img_before,
img.img_after {
  width: 20%;
  margin: 5% 5% 0 5%;
}

section {
  text-align: center;
}

.workDiv {
  display: inline;
  /* width: 10em;*/
  height: 12em;
  text-align: center;
}
.workSpace {
  display: inline;
}
#Section_Work {
  width: 100%;
}
.work,
.workText {
  position: absolute;
  width: 10em;
  height: 10em;
  z-index: 5;
  margin: 0;
}
/*
:root{
    --x1_before: 0;
    --y1_before: 0;
    --x2_before: 0;
    --y2_before: 100%;
    --x3_before: 50%;
    --y3_before: 50%;
    --x4_before: 100%;
    --x4_before: 0;
}*/
.before {
  clip-path: polygon(0 0, 0 98%, 0 98%, 98% 0, 98% 0);
  margin-left: -5em;
}

.after {
  clip-path: polygon(100% 100%, 2% 100%, 2% 100%, 100% 2%, 100% 0);
  margin-left: -5em;
}

.legend {
  margin-top: 10em;
}

.col-md-1 {
  display: inline;
}
@media (min-width: 768px) {
  .col-md-1-spe {
    flex: 0 0 12.499995%;
    max-width: 12.499995%;
  }
}

.work:hover {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
  clip-path: unset;
  z-index: 7;
}

h3 {
  margin-left: 3%;
  display: inline-block;
  text-decoration: underline #6b6b6b;
}

h3.night {
  text-decoration: underline white;
}

.team {
  display: inline;
}

.section_job {
  text-align: left;
  width: 49%;
  display: inline-block;
}

.job_right {
  border-left: solid 2px #6b6b6b;
  padding-left: 5%;
}
.job_left {
  padding-left: 10%;
}

.job_right {
  border-left: solid 2px #2b3a4f;
}

@media (max-width: 768px) {
  .section_job {
    width: 100%;
    text-align: center;
    border: none;
  }
  .job_right {
    border-left: none;
    padding-left: 0;
  }
  .job_left {
    padding-left: 0;
  }
}

.nb_color {
  display: inline;
}

.color_choice {
  border: none;
  display: inline-block;
  margin-left: 0.5em;
  background-color: white;
  width: 1.5em;
  height: 1.5em;
}

.on_hr {
  margin-top: -2rem;
  /* width: 10%;*/
  /* background-color: white;*/
  text-align: center;
  /* margin-left: 45%;*/
}

.on_hr span {
  background-color: white;
  padding: 0 10px 0 10px;
}

.section_left {
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  width: 49%;
}

.section_right {
  position: relative;
  margin-top: 0;
  margin-left: 50%;
  width: 49%;
}

.select_furniture {
  margin-left: 5%;
  margin-bottom: 2%;
  cursor: pointer;
}

.img_furniture {
  width: 100%;
  position: relative;
  margin-top: 0;
  margin-left: 0;
  cursor: pointer;
}

.furniture_dimension {
  display: inline;
  color: gray;
  font-size: 80%;
}

.length,
.width,
.height {
  display: inline;
}

.furniture_name {
  display: inline;
  font-weight: bold;
}
.furniture_right {
  cursor: pointer;
  display: inline-block;
  text-align: justify;
}

input.checkbox {
  position: absolute;
  margin-top: 9%;
  margin-left: -1em;
  cursor: pointer;
}

@media (max-width: 768px) {
  .select_furniture {
    width: 100%;
    /* text-align: center;*/
    border: none;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
}

input[type="checkbox"][id^="ground_cb_"] {
  display: none;
}
.ground {
  text-align: center;
  display: inline-block;
}
.square_view {
  border: 1px solid #fff;
  padding: 10px;
  display: block;
  position: relative;
  margin: 10px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.square_view::before {
  background-color: white;
  color: white;
  content: " ";
  display: block;
  border-radius: 50%;
  border: 1px solid grey;
  position: absolute;
  top: -5px;
  left: -5px;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 28px;
  transition-duration: 0.4s;
  transform: scale(0);
}

.square_view img {
  width: 10em;
  height: 10em;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked+.square_view {
  border-color: #ddd;
}

:checked+.square_view::before {
  content: "✓";
  background-color: rgb(70, 118, 250);
  transform: scale(1);
}

:checked+.square_view img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #333;
  z-index: -1;
}

:checked+.square_view div {
  font-weight: bold;
}

input.dimension {
  width: 10%;
  display: inline;
}

div.unit {
  display: inline;
}

.label_dimension {
  margin: 0 0 0 5%;
}

.Desc {
  padding-left: 10%;
  padding-right: 10%;
}

input {
  margin-left: 15px;
}



.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #43a6dd;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left: 45px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#avis {
  text-align: center;
}
#Nom {
  font-weight: bold;
}

.rating {
  direction: rtl;
  text-align: center;
}

.rating span {
  color: #aaa;
  text-decoration: none;
  font-size: 3em;
  transition: color 0.4s;
  cursor: default;
}

.resume_lwh {
  display: inline-block;
}

.resume_color{
    display: inline-block;
    background-color: rgba(0, 38, 255, 0.226);
    height: 3em;
    width: 3em;
    border-radius: 5px;
    }

.lesMeubles, .lesSols{
    flex-direction: row;
    display: flex;
justify-content: space-around;
text-align: center;
flex-wrap: wrap;
}
.resume_meuble{
    width: 10%;
}
.resume_image{
    width: 100%;
}

.resume_sol{
    width: 20%;
    cursor: default;
}


.resume_solImage{
    cursor: default;
}

@media screen and (min-width: 700px){
    .resume_meuble{
        width: 10%;
    }
}


/*//////////////////////*/
:root{
    --thick : 3px;
--pad : 0.7em;
--extra : calc(#{$pad} * 1.2);
--color : #22b7f2;
}


.buttonEnd, .scene {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-display: flex;
  -webkit-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  -webkit-justify-content: center;
  -webkit-align-items: center;
}
input.text{
  background-color:transparent;
  border: none;
}
input.text:focus{
  background-color: white;
  border: none;
}
.buttonEnd {
  background: #ffffff;
}
.buttonEnd:active a{
  background-color: #22b7f2;
  color: white;
  transition: 0.5;
}
.buttonEnd a {
  color: rgb(0, 0, 0);
  padding: 0.7em calc(0.7em * 1.2);
  display: inline-block;
  border: none;
  position: relative;
 /* font-size: 1.5em;*/
  cursor: pointer;
  /*letter-spacing: 0.07em;*/
}
.buttonEnd a .text {
/*  font-family: proxima-nova, monospace;*/
  transform: translate3d(0, 0.7em, 0);
  display: block;
  transition: transform 0.4s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.buttonEnd a:after {
  position: absolute;
  content: '';
  bottom: -3px;
  left: calc(0.7em * 1.2);
  right: calc(0.7em * 1.2);
  height: 3px;
  background: #22b7f2;
  transition: transform 0.8s cubic-bezier(1, 0, 0.37, 1) 0.2s, right 0.2s cubic-bezier(0.04, 0.48, 0, 1) 0.6s, left 0.4s cubic-bezier(0.04, 0.48, 0, 1) 0.6s;
  transform-origin: left;
}
.buttonEnd .line {
  position: absolute;
  background: #22b7f2;
}
.buttonEnd .line.-right, .buttonEnd .line.-left {
  width: 3px;
  bottom: -3px;
  top: -3px;
  transform: scale3d(1, 0, 1);
}
.buttonEnd .line.-top, .buttonEnd .line.-bottom {
  height: 3px;
  left: -3px;
  right: -3px;
  transform: scale3d(0, 1, 1);
}
.buttonEnd .line.-right {
  right: -3px;
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.23s;
  transform-origin: top;
}
.buttonEnd .line.-top {
  top: 0px;
  transition: transform 0.08s linear 0.43s;
  transform-origin: left;
}
.buttonEnd .line.-left {
  left: -3px;
  transition: transform 0.08s linear 0.51s;
  transform-origin: bottom;
}
.buttonEnd .line.-bottom {
  bottom: 0px;
  transition: transform 0.3s cubic-bezier(1, 0, 0.65, 1.01);
  transform-origin: right;
}
.buttonEnd a:hover .text,
.buttonEnd a:active .text {
  transform: translate3d(0, 0, 0);
  transition: transform 0.6s cubic-bezier(0.2, 0, 0, 1) 0.4s;
}
.buttonEnd a:hover:after,
.buttonEnd a:active:after {
  transform: scale3d(0, 1, 1);
  right: -3px;
  left: -3px;
  transform-origin: right;
  transition: transform 0.2s cubic-bezier(1, 0, 0.65, 1.01) 0.17s, right 0.2s cubic-bezier(1, 0, 0.65, 1.01), left 0s 0.3s;
}
.buttonEnd a:hover .line,
.buttonEnd a:active .line {
  transform: scale3d(1, 1, 1);
}
.buttonEnd a:hover .line.-right,
.buttonEnd a:active .line.-right {
  transition: transform 0.1s cubic-bezier(1, 0, 0.65, 1.01) 0.2s;
  transform-origin: bottom;
}
.buttonEnd a:hover .line.-top,
.buttonEnd a:active .line.-top {
  transition: transform 0.08s linear 0.4s;
  transform-origin: right;
}
.buttonEnd a:hover .line.-left,
.buttonEnd a:active .line.-left {
  transition: transform 0.08s linear 0.48s;
  transform-origin: top;
}
.buttonEnd a:hover .line.-bottom,
.buttonEnd a:active .line.-bottom {
  transition: transform 0.5s cubic-bezier(0, 0.53, 0.29, 1) 0.56s;
  transform-origin: left;
}

/*///////////////////////////////////*/


p#resume_nbColor, #resume_price,#resume_price_value{
  display: inline;
}

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}


.overlay2 {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  
}
.overlay2:target {
  visibility: visible;
  opacity: 1;
}

.resume {
  margin: 10%;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  width: 80%;
  position: relative;
  /*transition: all 5s ease-in-out;*/
}

.none{
  display:none;
  position: absolute;
}



@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.button1 {
  display: inline-block;
  border-radius: 4px;
  background-color: transparent;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

#annuler{
  position: absolute;
  right: 3%;
  bottom: 3%;
}
#annuler:hover{
text-decoration: none;
}